<div class="container pt-5">
        <h3>Žiemos prekės</h3>
    <div class="row mt-5 mb-5">
        {% for mainProduct in mainProducts %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-2 mb-2">
                <div class="bg-white category-card">
                    <div class="category-card-inside">
                        <img src=" {{ asset('img/' ~ mainProduct.imageName) }}" alt="{{ mainProduct.name}}" width="100%" >
                        <div class="category-name">{{ mainProduct.name}}</div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>