<div class="container mt-5 pt-5">
    <div class="col-lg-6">
        {% for mainProduct in mainProducts %}
            <h3>{{ mainProduct.name }} </h3>
{#            <p> {{ product.mainProduct }}</p>#}
{#            <div>#}
{#                <img src="{{ asset('img/' ~ product.imageName) }}" id="currentImg" alt="Teacup" title="Blue Teacup" width="100%">#}
{#            </div>#}
        {% endfor %}
    </div>
</div>