<section id="musu-produktai" class="mt-5 bg-light">
    <div class="container text-center mb-5 pt-5">
        <div class="justify-content-center">
            <h2 class="col-12">Jus taip pat gali sudominti</h2>

            <div class="row mb-5 justify-content-center">
                        {% for mainProduct in mainProducts| slice(0, 6) %}
                                <div class="col-lg-2 col-md-3 col-4">
{#                                    <a href="{{ path('sup_product.show', {id: sup_product.id}) }}" role="button">#}
{#                                        <div>#}
{#                                            <img src="{{ asset('img/' ~ sup_product.image) }}" alt="hand" width="70%">#}
                                            <p>{{ mainProduct.name }}</p>
{#                                        </div>#}
{#                                    </a>#}
                                </div>
                        {% endfor %}
            </div>
        </div>
    </div>
</section>