<section id="musu-produktai" class="mt-5 bg-light">
    <div class="container text-center mb-5 pt-5">
        <div class="justify-content-center">
            <h3 class="col-12">Jus taip pat gali sudominti</h3>

            <div class="row mt-3 mb-5 justify-content-center">
                {% for mainProduct in mainProducts| slice(0, 6) %}
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <a href="{{ path('mainproduct.show', {id: mainProduct.id}) }}" role="button">
                            <div class="bg-white other-product-card">
                                <img src="{{ asset('img/' ~ mainProduct.imageName) }}" alt="hand" width="70%">
                                <p>{{ mainProduct.name }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>