{% extends 'base.html.twig' %}

{% block body %}
    <section class="mt-5">
        <div class="container pt-5 col-lg-6">
            <h3>Add new product</h3>
            <div>
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}