
{% block body %}
    <section id="produktai" class="bg-light">
        <div class="container mt-5 pt-2">
            <h2>Produktų kategorijos</h2>
            <div class="row mt-3 mb-5">
                {% for category in categories %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-1 mb-1 p-1">
                        <a href="{{ path('category.show', {id: category.id}) }}">
                            <div class="bg-white category-card">
                                <img src=" {{ asset('img/' ~ category.imageName) }}" alt="text" style="width:90%;">
                                <div class="category-name">{{ category.name }}</div>
                            </div>
                        </a>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>


{% endblock %}
