{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <section id="produktai" class="bg-light" >
        <div class="container mt-5 pt-5 text-center">
            <h3 class="text-dark">Produktų kategorijos</h3>
            <div class="row mt-5 mb-5">
                {% for category in categories %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-2 mb-2">
{#                        <a href="{{ path('category.show', {id: category.id}, {category: category.name}) }}" role="button" class="mygas skalas" >#}
                            <div class="bg-white category-card">
                                <div class="category-card-inside">
                                    <img src=" {{ asset('img/' ~ category.imageName) }}" alt="purskiklis" width="90%" >
                                    <div class="category-name">{{ category.name}}</div>

                                </div>

                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>


{% endblock %}
