{% extends 'base.html.twig' %}

{% block title %}Dauvidės prekyba{% endblock %}

{% block body %}
    <section>
        <p>
            Prekiaujame universaliais HY-OO2 tipo valytuvų vienetais (33-71cm ilgio) bei specifiniais valytuvų  komplektais.
        </p>
        <img src="{{ asset('img/refresh.jpg') }}" alt="Pradzia" class="w-75 pb-2">
    </section>

{% endblock %}