{% extends 'base.html.twig' %}

{% block body %}

    <section id="produktai-kategorijoje">
        <div class="container mt-5">
            <h3>Visi produktai kategorijoje: {% for mainProduct in mainProducts|slice (0,1) %}{{ mainProduct.category }}{% endfor %} </h3>

            <div class="row mt-3 mb-5">
                {% for mainProduct in mainProducts %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-1 mb-1">
                        <div role="button" class="btn mt-5 mb-3 skalas filterDiv">
                            <a href="{{ path('mainproduct.show', {id: mainProduct.id}) }}">
                                <div class="">
                                    <div><img src=" {{ asset('img/' ~ mainProduct.imageName) }}" alt="hand" width="80%">
                                    </div>
                                    <div>{{ mainProduct.name }}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </section>

{% endblock %}