a{
    color: #5d5d5d;
}

a:hover {
    text-decoration: none;
    color: #154360;

}

.row {
    width: 100%;
}

h3 {
    color: #154360 !important;
    text-align: left;
    width: auto;
    padding-bottom: 5px;
}

h3::after {
    display: block;
    content: " ";
    height: 1px;
    width: 150px;
    margin-top: 5px;
    background-color: #154360;
}

.mygas {
    background-color: #999999;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.mygas:hover{
    /*background-color: #ABDB25;*/
    background-color: #145A32;
    color: #154360;
    text-decoration: none;
}

.skalas {
    transform: scale(1);
}

.skalas:hover {
    transform: scale(1.1);
}



.svgas {
    width: 70px;
    height: 70px;
}
.svgas:hover {
    fill: red;
}

.main_color {
    background-color: #999999;
    color: #ABDB25;
}

.greenas {
    /*color: #ABDB25;*/
    color: #145A32;
}

.greenbo {
    /*border: 2px solid #ABDB25;*/
    border: 2px solid #145A32;
}

.navbar {
    background-color: #154360;
}
.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ABDB25 !important;
}

.hover_title {
    display: none;
    position: absolute;
    text-align: center;
    padding-bottom: 10px;
    height: 100%;
}

ion-icon {
    color: #ABDB25;
}

.img_hov {
    position: absolute;
}

.img_hov:hover + .hover_title{
    background: rgba(0, 0, 0, 0.3);
    display: flex;
}

.colorpicker {
    list-style-type:none;
}

#text {
    display: none;
}

.colorpicker li {
    float: left;
    list-style-type:none;
    text-align: center;
}

.colorpicker li img {
    width: 100px;
    height: auto;
    cursor: pointer;
}
ul {
    list-style-type: none;
}

.colorpicker li {
    float: left;
    padding: 0;
}

/*This code could be used to generate a filter from hex color https://codepen.io/sosuke/pen/Pjoqqp */

.history {
    filter: invert(22%) sepia(23%) saturate(1535%) hue-rotate(160deg) brightness(92%) contrast(93%);
    /*filter: invert(72%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(86%) contrast(85%);*/
}

.hero {
    height: 400px;
    width:auto;
    background-image: url('img/winter2.png');
    background-position: bottom center;
    background-repeat: no-repeat;
}

.hero-container {
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 250px;

}

.hero-btn {
    background-color: #154360;
    padding: 5px 10px;
    min-width: 100px;
    border: none;
    color: #ffffff;
}

.hero-btn:hover {
    background-color: #ABDB25;
    color: #154360;
}
.history-bg {
    background-image: url("img/17545.jpg");
    max-width: 400px;
    min-height: 500px;

}

.hero button {
    padding-right: 10px;
}

.category-name {
    text-align: left;
}

/*.category-card-inside {*/
/*    position: absolute;*/
/*    top: -100px;*/
/*}*/

.category-card {
    padding: 20px;
    margin: 10px 10px;
    height: 250px;
    /*position: relative;*/
}

.category-card:hover {
    border: 2px solid #ABDB25;
    /*border: 2px solid #154360;*/
}

.button-action {
    background-color: #ABDB25;
}






