<script type="text/javascript">

    function showImage(imgPath) {
        var curImage = document.getElementById('currentImg');
        curImage.src = imgPath;
    }
</script>
        {% for imageName in imageNames %}
            <div>
                <img src="{{ asset('img/' ~ imageName.imageName) }}" id="currentImg" alt="Teacup" title="Blue Teacup" width="100%">
            </div>
        {% endfor %}

        <ul class="colorpicker pl-0 row">

            {% for product in products %}
                <li class="col-2 col-md-3"><img src="{{ asset('img/' ~ product.imageName) }}" width="50%"
                                           onclick="showImage('{{ asset('img/' ~ product.imageName) }}')" data-pin-nopin="true"></li>

            {% endfor %}
        </ul>





