{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <section id="produktai" class="bg-light" >
        <div class="container mt-5 pt-5 text-center">
            <h3">Produktai</h3>
            <div class="row mt-5 mb-5">
                {% for product in products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-2 mb-2">
                            <div class="bg-white category-card">
                                <div class="category-card-inside">
                                    <img src=" {{ asset('img/' ~ product.imageName) }}" alt="purskiklis" width="90%" >
                                    <div class="category-name">{{ product.name}}</div>

                                </div>

                            </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
